.exercise-item-workout {
    background: #343434;
    padding: 20px;
    margin: 0px;
    border-radius: 8px;
    height: 50px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    transition: background 0.2s;
    background: #bdbdbd;
    border: 3px solid #7bb601; 
    color: rgb(0, 0, 0);;
  }
  
  .exercise-item-workout:hover{ 
    background: #5f5b5b;
    color:white;
    border-radius: 5px; 
    border: 3px solid #7bb601; 
}
  
  .exercise-item-workout h5 {
    margin: 0;
  }
  
  .exercise-item-workout * {
    margin: 0;
  }