.video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10%;
    background-color: #333;
    color: white;
  }
  
  .video-section h2 {
    font-size: 2rem;
    margin-bottom: 50px;
  }

  .video-section .highlight {
    color: #7bb601;
  }
  
  .video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
  }

 
  
  .video-container video {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s;
  }
  
  .play-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }
  