/* DietPreference.css */
.diet-preference {
    padding: 20px;
    width: calc(100vw - 250px);
    background-color: #f2f2f2;
  }
  
  /* ExistingDietPreference.css */
  .existing-diet-preference {
    padding: 20px;
    margin-top: 50px;
    background-color: #bdbdbd;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1);
  }

  .existing-diet-preference h3{
    font-size: 30px;
    font-weight: bold;
  }

  .diet-preference-points{
    margin-top: 50px;
  }

  .diet-preference-points .create-button{
    color: white;
    background-color: #b3cf32;
    font-weight: bold;
    border: 20px;
  }

  .diet-preference-points .create-button:hover{
    color: white;
    background-color: #7bb601;
    font-weight: bold;
    border: 20px;
  }
  .existing-diet-preference .diet-preference-points p{
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
  }
  
  .create-button {
    background-color: #b3cf32;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1rem;
  }

  
  .create-diet-preference {
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: #333;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 80vh;
    max-height: 90vh;
    overflow-y: auto;
  }
  
  .create-diet-preference h3 {
    grid-column: 1 / -1;
    text-align: center;
    color: #7BB601;
    font-size: 1.8em;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .radio-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  
  
  
  .create-diet-preference .radio-options label input[type="radio"] {
    appearance: auto; 
    accent-color: #7BB601; 
    width: 16px; 
    height: 16px;
    margin-right: 5px; 
    cursor: pointer;
  }
  
  
  .create-diet-preference .radio-options label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #7BB601;
    font-weight: bold;
  }

  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-with-label {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
  }
  
  .small-input {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #D3D3D3;
    background-color: #FFFFFF;
    transition: all 0.3s;
  }
  
  .small-input:focus {
    border-color: #7BB601;
    box-shadow: 0 0 5px rgba(123, 182, 1, 0.3);
    outline: none;
  }

  .create-diet-preference .form-group:nth-of-type(3) .input-with-label .small-input {
    width: 30%;
  }
  
  /* Target the input in the fourth question */
  .create-diet-preference .form-group:nth-of-type(4) .input-with-label .small-input {
    width: 30%;
  }
  
  .calculate-button {
    background-color: #B3CF32;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    margin-top: 15px; /* Increase space between input fields and the button */
  }
  
  .calculate-button:hover {
    background-color: #7BB601;
  }
  
  .calculated-result {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
    grid-column: 1 / -1;
    text-align: center;
  }
  
  /* Center the submit button across the entire form */
  .submit-button-container {
    grid-column: 1 / -1; 
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .medium-submit-button {
    background-color: #B3CF32;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }
  
  .medium-submit-button:hover {
    background-color: #7BB601;
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    .create-diet-preference {
      grid-template-columns: 1fr;
    }
  
    .submit-button, .calculated-result {
      grid-column: auto;
    }
  }
  
  
  
  