.workout-page {
    padding: 40px;
    background-color: #f2f2f2;
  }
  
  .page-title {
    font-size: 36px;
    text-align: center;
    color: #333;
    margin-bottom: 40px;
  }
  
  .workout-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  