.workout-page {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
  background-color: #f9fafb;
  min-height: 100vh;
}

.full-screen {
  display: flex;  /* Change from grid to flex */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  background-color: #f9fafb;
}


.workout-content {
  display: flex;
  gap: 20px;
  margin: 20px 0 0 100px;

  
}

.footer {
  background-color: #1f2937;
  color: #f9fafb;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left .start-highlight {
  color: #22c55e;
}

.join-now {
  background-color: #22c55e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
}

.join-now:hover {
  background-color: #16a34a;
}

.workout-actions {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mark-done-button {
  background-color: #22c55e; /* Green button */
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mark-done-button:hover {
  background-color: #16a34a; /* Darker green on hover */
}

.done-message {
  color: #4caf50; /* Green message */
  font-size: 1.1rem;
  font-weight: bold;
}
