.all-trainers-page {
    padding: 40px;
    background-color: #f8f8f8;
}

.page-title {
    font-size: 36px;
    text-align: center;
    color: #333;
    margin-bottom: 40px;
}

.trainer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
