.workout-card {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Left for details, right for the image */
  gap: 20px;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.workout-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.workout-details h3 {
  font-size: 1.5em;
  color: #1f2937;
}

.workout-tags .tag-section {
  margin-top: 10px;
}

.badge {
  background-color: #e5e7eb;
  border-radius: 8px;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 0.9em;
  color: #333;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
}

.badge.active {
  background-color: #22c55e; /* Green for active items */
  color: #fff;
}

.workout-image img {
  max-width: 70%;
  border-radius: 8px;
  object-fit: cover;
}
