.add-exercise-page {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
    padding: 20px;
    height: 100vh;
  }
  
  .search-and-filter {
    grid-column: 1 / 2;
  }
  
  .search-bar {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 3px solid #d3d3d3;
    margin-bottom: 10px;
  }

  .search-bar:focus{
    border: 3px solid #7bb601;
  }
  
  .muscle-filter h4 {
    font-size: 1em;
    margin-bottom: 5px;
  }
  
  .muscle-filter label {
    display: block;
    margin: 5px 0;
  }
  
  .exercise-list {
    grid-column: 2 / 3;
    display: grid;
    margin: 0;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 5px;
    grid-row-gap: 0;
    padding: 0; /* Adjust vertical gap here */
    margin-left: 20px;
  }
  

  .exercise-basket {
    grid-column: 3 / 4;
    background: #f2f2f2;
    padding: 15px;
    border-radius: 8px;
  }
  
  .exercise-basket h4 {
    margin-top: 0;
  }
  
  .exercise-basket ul {
    list-style: none;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
  }
  
  .exercise-basket li {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }
  
  .exercise-basket p {
    font-weight: bold;
  }
  
  .done-button {
    margin-top: 20px;
    background-color: #7bb601;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
  }
  