.all-trainers-page {
    padding: 40px;
    background-color: #f8f8f8;
}

.page-title {
    font-size: 36px;
    text-align: center;
    color: #333;
    margin-bottom: 40px;
}

.trainer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 20px;
}

.trainer-card {
    flex: 1 1 calc(22% - 20px); 
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.trainer-card img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
    .trainer-card {
        flex: 1 1 calc(30% - 20px); 
    }
}

@media (max-width: 768px) {
    .trainer-card {
        flex: 1 1 calc(45% - 20px);
    }
}

@media (max-width: 480px) {
    .trainer-card {
        flex: 1 1 100%;
    }
}
